.category-btn-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;

  .category-btn {

    padding: 8px 17px;
    margin-right: 10px;
    border-radius: 3px;
    cursor: pointer;

    background: none;
    border: none;  
  }

}